$yel: rgb(241, 241, 107);

body {
  margin: 0;
}

//BUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTONBUTTON

.btnME {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #ffffff;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #000000;
  text-align: center;
  transition: all 0.15s;
}
.btnME:hover {
  cursor: pointer;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: black;
  border-color: black;
  background-color: white;
}

// NAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAVNAV

.nav {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 0.2rem;

  h1 {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 5px $yel;
    margin: 0.5rem;
  }

  button {
    margin-left: 2rem;
  }
}
// SIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDESIDE

.left-nav {
  position: absolute;
  height: 100%;
  background-color: $yel;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 70px;
  z-index: 1;
  h2 {
    font-size: 2rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
  }

  button {
    margin-left: 1rem;
  }
}

.side-area-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Make bottom nav on mobile
@media screen and (max-width: 768px) {
  .left-nav {
    bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .left-nav {
    width: 20vw;
    height: 100vh;
  }
}

// MAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAINMAIN

.form-area {
  height: 100vh;
  text-align: center;
}

.form-inner-area {
  max-width: 400px;
  padding: 1rem;
  background-color: $yel;
  border-radius: 10px;
  margin: 0rem auto;
}

.hidden {
  display: none;
}

.active {
  background-color: black;
  opacity: 90%;
}

.form {
  text-shadow: 1px 1px 5px $yel;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;

  input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  button {
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}

.form-label {
  margin: 1rem;
}

//FORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORMFORM

#toDoBox {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  // margin-left: 20vw;
  margin-top: 70px;
  text-align: center;
  background-color: rgb(172, 170, 175);
}

.todo-card {
  max-width: 40%;
  margin: 1rem auto;
  // display: flex;
  // justify-content: center;
  background-color: grey;
  border: 3px solid black;

  button {
    margin: 1rem 0.5rem;
  }

  .edit-button {
    padding: 0.4rem 1.3rem;
  }
}
